<!DOCTYPE html>
<html>
<head>
  <title>Struct Layout - Know Your Types</title>
  <meta name="Description" content="Generate C or C++ source code to understand the layout of your structs and classes."/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
